body {
  background-color: #000000;
}

#page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #1a1a1a;
}

#navi {
  margin-bottom: 30px;
}

#header {
  background-color: #616161;
  height: 50px;
}

.col-md-4 {
  background-color: #616161;
  height: 50px;
}
